<page-layout styleNames="bg-transparent">
  <h1 class="mb-8 text-3xl flex">{{ title }}</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!loadingRecipe && errorNoRecipeFound.length === 0">
    <!-- Recipe Name and Servings Row -->
    <div
      *ngIf="!hideVisibilityNameAndServings"
      class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4 mb-4 lg:items-center"
    >
      <div class="flex-1">
        <input-field
          [label]="'Recipe Name*'"
          [type]="InputType.text"
          [placeholder]="'Enter recipe name'"
          [ariaLabel]="'Recipe Name input field'"
          [required]="true"
          [(value)]="recipeEdit.name"
          [id]="'recipeName'"
          [name]="'recipeName'"
          [form]="form"
        ></input-field>
      </div>

      <div class="flex-1 flex flex-row space-x-4">
        <div class="flex-1">
          <input-field
            [label]="'Number of Servings*'"
            [type]="InputType.number"
            [placeholder]="'Enter servings number'"
            [ariaLabel]="'Number of servings input field'"
            [required]="true"
            [(value)]="recipeEdit.servings"
            [id]="'servings'"
            [name]="'servings'"
            [form]="form"
          ></input-field>
        </div>

        <div class="flex-1">
          <input-field
            [label]="'Visibility*'"
            [type]="InputType.select"
            [options]="visibilityTypes"
            [ariaLabel]="'Visibility'"
            [(value)]="recipeEdit.visibility"
            [id]="'visibility'"
            [name]="'visibility'"
          ></input-field>
        </div>
      </div>
    </div>

    <div class="mb-12 flex justify-start">
      <div>
        <div class="flex justify-end mr-2 mb-4" *ngIf="initialImageLink">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-3 cursor-pointer shrink-0 fill-black hover:fill-red-500"
            viewBox="0 0 320.591 320.591"
            (click)="onInitialImageRemoved()"
            *ngIf="initialImageLink"
          >
            <path
              d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
              data-original="#000000"
            ></path>
            <path
              d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
              data-original="#000000"
            ></path>
          </svg>
        </div>
        <div class="space-y-4" *ngIf="initialImageLink">
          <div class="bg-white rounded-lg">
            <img [src]="initialImageLink" alt="Recipe Image" class="w-full h-[250px] lg:h-80 object-cover" />
          </div>
        </div>
      </div>
      <app-file-upload
        #fileUpload
        (fileUploaded)="handleImageUploaded($event)"
        (fileRemoved)="handleImageRemoved($event)"
        *ngIf="!initialImageLink"
      ></app-file-upload>
    </div>

    <!-- Cooking Appliances Section -->
    <div class="mb-12">
      <span class="text-base text-primary font-bold block mb-4">Required Cooking Appliances</span>

      <div
        *ngFor="let cookingApp of cookingAppList; let i = index"
        class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4 lg:items-center mb-10 lg:mb-4"
      >
        <div class="flex-1">
          <search-input
            [id]="'cookingApp' + i"
            [label]="'Cooking Appliance'"
            [placeholder]="'Search for cooking appliance'"
            [handleSearch]="searchCookingApp.bind(this)"
            [options]="cookingAppOptionsNames"
            [searchTerm]="cookingApp.name"
            (selectedOption)="onCookingAppSelected($event, i)"
          ></search-input>
        </div>

        <div class="flex-1">
          <input-field
            [label]="'Amount'"
            [type]="InputType.number"
            [placeholder]="'Enter amount'"
            [(value)]="cookingApp.amount"
            [id]="'amount' + i"
            [name]="'amount' + i"
            [form]="form"
          ></input-field>
        </div>

        <div class="flex justify-center">
          <simple-button (click)="removeCookingApp(i)" [variant]="ButtonVariant.borderOnly" className="lg:mt-7">
            <span class="icon-[material-symbols--delete]"></span>
          </simple-button>
        </div>
      </div>

      <div class="flex">
        <simple-button (click)="addCookingApp()" [variant]="ButtonVariant.primary" class="flex">
          <span class="icon-[material-symbols--add] mr-1"></span> Cooking Appliance
        </simple-button>
      </div>
    </div>

    <!-- Ingredients Section -->
    <div class="mb-12">
      <span class="text-base text-primary font-bold block mb-4">Ingredients*</span>

      <div
        *ngFor="let ingredient of ingredientsList; let i = index"
        class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4 lg:items-center mb-10 lg:mb-4"
      >
        <div class="flex-1">
          <search-input
            [id]="'ingredient' + i"
            [label]="'Ingredient'"
            [placeholder]="'Search for ingredient'"
            [handleSearch]="searchIngredient.bind(this)"
            [options]="ingredientsOptionsNames"
            [supportsAddCustom]="true"
            [searchTerm]="ingredient.name"
            (selectedOption)="onIngredientSelected($event, i)"
            (selectedAddCustom)="onRequestIngredientSelected($event, i)"
            #ingredientSearchInput
          ></search-input>
        </div>

        <div class="flex flex-row space-x-4">
          <div class="flex-1">
            <input-field
              [label]="'Quantity'"
              [type]="InputType.number"
              [(value)]="ingredient.amount"
              [placeholder]="'Enter quantity'"
              [id]="'quantity' + i"
              [name]="'quantity' + i"
              [form]="form"
              [className]="'w-full'"
            ></input-field>
          </div>
          <div class="flex-1">
            <input-field
              [label]="'Unit'"
              [type]="InputType.select"
              [options]="measurementUnits"
              [(value)]="ingredient.unit"
              [id]="'unit' + i"
              [name]="'unit' + i"
              [form]="form"
            ></input-field>
          </div>
        </div>

        <div class="flex justify-center">
          <simple-button (click)="removeIngredient(i)" [variant]="ButtonVariant.borderOnly" className="lg:mt-7">
            <span class="icon-[material-symbols--delete]"></span>
          </simple-button>
        </div>
      </div>

      <div class="flex">
        <simple-button (click)="addIngredient()" [variant]="ButtonVariant.primary" class="flex">
          <span class="icon-[material-symbols--add] mr-1"></span> Ingredient
        </simple-button>
      </div>
    </div>

    <!-- Directions Row -->
    <div class="mb-12">
      <input-field
        [label]="'Directions*'"
        [type]="InputType.textarea"
        [placeholder]="'Enter recipe directions'"
        [ariaLabel]="'Directions input field'"
        [(value)]="recipeEdit.description"
        [id]="'directions'"
        [name]="'directions'"
        [required]="true"
        [form]="form"
      ></input-field>
    </div>

    <div class="flex items-center justify-end space-x-4">
      <simple-button [variant]="ButtonVariant.borderOnly" [className]="'w-32'" (click)="cancelClicked()">
        Cancel
      </simple-button>
      <simple-button
        [variant]="ButtonVariant.primary"
        [type]="'submit'"
        [disabled]="!!form.invalid"
        [className]="'w-32'"
      >
        Save
      </simple-button>
    </div>
  </form>

  <loading-spinner [isLoading]="loadingRecipe"></loading-spinner>

  <info-message
    *ngIf="errorNoRecipeFound.length > 0"
    [message]="errorNoRecipeFound"
    [type]="InfoMessageType.failure"
  ></info-message>

  <simple-modal
    [title]="requestedIngredientModalTitle"
    [show]="isRequestIngredientModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Request'"
    (setShow)="isRequestIngredientModalOpen = $event"
    (onSubmit)="handleRequestedIngredientModalSubmit()"
    (onCancel)="handleRequestedIngredientModalCancel()"
  >
    <app-request-ingredient-modal
      [ingredientName]="requestedIngredientName"
      #requestIngredientModalComponent
    ></app-request-ingredient-modal>
  </simple-modal>
</page-layout>
