<form class="flex flex-col space-y-6 mb-3" #form2="ngForm">
  <input-field
    [label]="'Default Unit'"
    [type]="InputType.select"
    [options]="measurementUnits"
    [(value)]="newIngredient.defaultUnit"
    [id]="'unit'"
    [name]="'unit'"
    [form]="form2"
  ></input-field>

  <input-field
    [label]="'Category'"
    [type]="InputType.select"
    [options]="categories"
    [(value)]="newIngredient.category"
    [id]="'category'"
    [name]="'category'"
    [form]="form2"
  ></input-field>
</form>

<p class="italic" *ngIf="!isAdmin()">
  You can use the ingredient immediately. If the admin accepts your request, the ingredient will become available to
  everyone. Otherwise it might get removed or replaced by the admin.
</p>
