<!-- Hero Section -->
<section class="bg-gradient-to-r from-primary-400 to-primary-800 text-white relative overflow-hidden">
  <div class="max-w-7xl mx-auto px-6 pt-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-end">
      <div class="text-center md:text-left mb-16">
        <h1 class="text-3xl font-bold sm:text-5xl">Simplify Your Menu Planning</h1>
        <p class="mt-4 text-lg sm:text-xl">Create menus, add meals, manage shopping lists, and organize with ease!</p>
      </div>
      <div class="flex justify-center md:justify-end">
        <img src="logo.png" alt="MenuMaestro Logo" class="h-80 w-auto object-contain object-bottom" />
      </div>
    </div>
  </div>
</section>

<!-- Recipes Section -->
<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Our Recipe Collection</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div>
        <img src="hero_recipes.png" alt="Recipes" class="rounded-lg shadow-md" />
      </div>
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Discover a world of new recipes and create your own culinary masterpieces for your menus. Browse through a
          collection of recipes and add them to your menus as meals. Everything made easy to find with several
          <b>filtering and searching</b> capabilities.
        </p>
        <simple-button routerLink="/recipes">Browse Recipes</simple-button>
      </div>
    </div>
  </div>
</section>

<section class="py-16 bg-gray-100">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Your Own Recipes</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Not convinced of our recipes collection? You can create your own and even request to add
          <b>your own special ingredients</b>.
        </p>
        <simple-button routerLink="/recipes/create">Create Recipe</simple-button>
      </div>
      <div>
        <img src="hero_request_ingredients.png" alt="Request Ingredients" class="rounded-lg shadow-md" />
      </div>
    </div>
  </div>
</section>

<!-- Menu Planning Section -->
<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Flexible Menus</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Create flexible menus, add recipes to it and see how ingredient quantities of your meal
          <b>automatically scale</b> to match the number of people attending. <b>Drag and drop</b> your meals and
          organize them vertically in groups with <b>meals separators</b>.
        </p>
        <simple-button routerLink="/menus">Create a Menu</simple-button>
      </div>
      <div>
        <img src="hero_menu.png" alt="Menu Planning" class="rounded-lg shadow-md" />
      </div>
    </div>
  </div>
</section>

<!-- Meal Section -->
<section class="py-16 bg-gray-100">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Customizable Menu Meals</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Since we know not all people attending might have the same dietary preferences, meals can be
          <b>scaled further</b>. Furthermore, the meals can be easily <b>renamed</b> for a better organization within
          the menu. And the best: ingredients or images of the specific meal can be <b>adapted on the fly</b>! Take any
          recipe and adapt it to your needs.
        </p>
      </div>
      <div>
        <img src="hero_meal.png" alt="Meal" class="rounded-lg shadow-md" />
      </div>
    </div>
  </div>
</section>

<!-- Shopping Lists Section -->
<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Smart Shopping Lists</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div>
        <img src="hero_shopping_list.png" alt="Shopping List" class="rounded-lg shadow-md" />
      </div>
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Create detailed shopping lists from your menu. Choose to generate lists for the
          <b>entire menu or only selected meal groups</b>, ensuring you have everything you need for a perfect event.
          Coordinate everything in real time using <b>live updated shopping lists</b> on multiple devices! You can even
          invite anyone to come shopping with you via our shopping list <b>QR code access</b> for unregistered users.
          Why <b>smart</b>? Because the shopping lists also consider the ingredients in your stash.
        </p>
        <simple-button routerLink="/shopping-lists">View Shopping Lists</simple-button>
      </div>
    </div>
  </div>
</section>

<!-- Organization Management Section -->
<section class="py-16 bg-gray-100">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Manage Organizations & Tasks</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Join or manage organizations for team events. Distribute tasks across members and allow everyone to contribute
          in a safe way. Every member has only the <b>permissions</b> they need, be it: organization owner, admin,
          planner, shopper, or a simple member with read-only access.
        </p>
        <simple-button routerLink="/organizations">View Organizations</simple-button>
      </div>
      <div>
        <img src="hero_org.png" alt="Organizations" class="rounded-lg shadow-md" />
      </div>
    </div>
  </div>
</section>

<!-- Stash Management Section -->
<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-semibold text-center mb-8">Ingredients Tracking</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <div>
        <img src="hero_stash.png" alt="Shopping List" class="rounded-lg shadow-md" />
      </div>
      <div class="flex flex-col justify-center items-center space-y-4">
        <p class="text-lg">
          Keeping track of what ingredients you <b>already have</b>, as well as <b>leftovers</b> from the last menu or a
          shopping trip can get out of hand. No problem MenuMaestro got you covered. Keep track of items using the stash
          management. <b>Transferring</b> them freely between <b>menus and organizations</b>.
        </p>
      </div>
    </div>
  </div>
</section>
