<page-layout>
  <loading-spinner [isLoading]="isLoadingOrganizations || isLoadingInvitations"></loading-spinner>
  <div *ngIf="!isLoadingInvitations && !isLoadingOrganizations">
    <h1 class="mb-8 text-3xl">Invitations</h1>

    <div *ngIf="this.invitations">
      <!-- Invitation Cards -->
      <div class="border-t border-b border-gray-200 p-2 lg:p-4">
        <div class="mb-4"></div>
        <div
          *ngFor="let invitation of invitations?.content"
          class="mb-4 rounded-md hover:shadow-[rgba(0,0,0,0.1)_0px_0px_7px_7px] hover:ease-in-out duration-200 hover:cursor-pointer"
        >
          <simple-card [title]="invitation.name" class="rounded-md text-sm">
            <div class="flex flex-row justify-between items-center">
              <p>{{ invitation.description || 'N/A' }}</p>
              <div class="flex flex-row space-x-2">
                <div>
                  <simple-button
                    (click)="declineInvitation($event, invitation.id)"
                    [variant]="ButtonVariant.borderOnly"
                  >
                    <span class="icon-[material-symbols--cancel]"></span>
                  </simple-button>
                </div>
                <div>
                  <simple-button (click)="acceptInvitation($event, invitation.id)" [variant]="ButtonVariant.borderOnly">
                    <span class="icon-[material-symbols--task-alt]"></span>
                  </simple-button>
                </div>
              </div>
            </div>
          </simple-card>
        </div>
        <div
          *ngIf="this.invitations?.numberOfElements == 0 && !isLoadingInvitations"
          class="text-center text-xl text-gray-600 col-span-full my-8"
        >
          <p>No pending invitations.</p>
        </div>
      </div>
    </div>
    <pagination-controls
      [data]="invitations"
      [currentPage]="currentPageInvitations"
      (pageChange)="onPageChangeInvitations($event)"
    ></pagination-controls>

    <h1 class="mb-8 mt-8 text-3xl">Organizations</h1>

    <div class="flex justify-end mt-4 mb-4">
      <div class="ml-1 text-sm">
        <organization-create (organizationCreated)="fetchOrganizations()"></organization-create>
      </div>
    </div>

    <div *ngIf="this.organizations">
      <!-- Organization Cards -->
      <div class="border-t border-b border-gray-200 p-2 lg:p-4">
        <div class="mb-4"></div>
        <div
          *ngFor="let organization of organizations?.content"
          class="mb-4 rounded-md hover:shadow-[rgba(0,0,0,0.1)_0px_0px_7px_7px] hover:ease-in-out duration-200 hover:cursor-pointer"
          [ngClass]="{ 'bg-gray-100': !isPartOfOrganization(organization.id) }"
          [routerLink]="['/organizations', organization.id]"
        >
          <simple-card [title]="organization.name" class="rounded-md text-sm">
            <div class="flex flex-row justify-between items-center">
              <p>{{ organization.description || 'N/A' }}</p>
            </div>
          </simple-card>
        </div>
        <div
          *ngIf="this.organizations?.numberOfElements == 0 && !isLoadingOrganizations"
          class="text-center text-xl text-gray-600 col-span-full my-8"
        >
          <p>No organizations found.</p>
        </div>
      </div>
    </div>
    <pagination-controls
      [data]="organizations"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
</page-layout>
