<page-layout>
  <h1 class="mb-8 text-3xl">Menus</h1>

  <!-- Search | Filters -->
  <div class="items-end mt-4 mb-4">
    <!-- Search & Filters -->
    <form class="flex flex-col lg:flex-row space-y-4 lg:space-x-2 items-left lg:items-end">
      <!-- Search -->
      <div class="lg:flex-grow">
        <search-input
          [options]="menuSearchSuggestions"
          (selectedOption)="onMenuSearch($event)"
          [handleSearch]="onMenuSearch.bind(this)"
          [searchTerm]="menuSearchTerm"
          [label]="'Menu'"
          placeholder="e.g. Sommer Camp"
        ></search-input>
      </div>

      <!-- Organization -->
      <div class="lg:flex-grow">
        <search-input
          [placeholder]="'e.g. FC Umhausen'"
          [handleSearch]="searchOrganization.bind(this)"
          [options]="organizationSearchNames"
          (selectedOption)="onOrganizationSelected($event)"
          [label]="'Organization'"
        ></search-input>
      </div>

      <div class="flex flex-row items-end justify-between lg:justify-end space-x-2">
        <!-- Menu Status -->
        <input-field
          [label]="'Status'"
          [type]="InputType.select"
          [options]="menuStatusOptions"
          [ariaLabel]="'Menu status selection'"
          [(value)]="selectedMenuStatus"
          [id]="'menu status'"
          [name]="'menu status'"
          (valueChange)="onMenuStatusChange()"
        >
        </input-field>
        <menu-create (organizationCreated)="fetchMenus()"></menu-create>
      </div>
    </form>
  </div>

  <div *ngIf="!isLoading && this.menus?.content?.length != 0">
    <!-- Menu Cards -->
    <div class="border-t border-b border-gray-200 p-2 lg:p-4">
      <div
        *ngFor="let menu of menus?.content"
        class="mb-4 rounded-md hover:shadow-[rgba(0,0,0,0.1)_0px_0px_7px_7px] hover:ease-in-out duration-200 hover:cursor-pointer"
        [routerLink]="menu.status === MenuStatus.Closed ? ['/menus/' + menu.id + '/closed'] : ['/menus', menu.id]"
      >
        <simple-card [title]="menu.name" class="rounded-md text-sm">
          <div class="flex flex-row justify-between">
            <p>Organization: {{ menu.organization.name || 'N/A' }}</p>

            <div class="justify-end -mt-8">
              <img *ngIf="menu.name === 'Jahresherbstfest'; else defaultIcon" src="check.png" alt="Done" class="w-8" />
              <ng-template #defaultIcon>
                <img src="serving-dish.png" alt="Default" class="w-8" *ngIf="menu.status === MenuStatus.Serving" />
              </ng-template>
            </div>
          </div>
        </simple-card>
      </div>
    </div>
  </div>

  <div
    *ngIf="(!menus || this.menus?.content?.length == 0) && !isLoading"
    class="text-center text-xl text-gray-600 col-span-full my-8"
  >
    <p>No menus found.</p>
  </div>
  <loading-spinner [isLoading]="isLoading"></loading-spinner>

  <pagination-controls
    [data]="menus"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</page-layout>
