<page-layout>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown.enter)="onSubmit(form)">
    <h1 class="mb-8 text-3xl">Change Password</h1>
    <div class="h-screen lg:mx-24">
      <div class="bg-white overflow-hidden shadow rounded-lg border">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:gap-4 sm:px-6">
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input-field
                  name="newPassword"
                  [label]="'New Password*'"
                  [type]="InputType.password"
                  [(value)]="accountEditRequestDto.newPassword"
                  [id]="'newPassword'"
                  [required]="true"
                  [form]="form"
                ></input-field>
              </dd>
              <p
                class="text-xs text-red-600 -mt-3 -mb-1"
                *ngIf="accountEditRequestDto.newPassword && accountEditRequestDto.newPassword.length < 6"
              >
                Your password must be at least 6 characters long!
              </p>
            </div>
            <div class="py-3 sm:py-5 sm:gap-4 sm:px-6">
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input-field
                  name="confirmPassword"
                  [label]="'Confirm Password*'"
                  [type]="InputType.password"
                  [(value)]="confirmNewPassword"
                  [id]="'confirmNewPassword'"
                  [required]="true"
                  [form]="form"
                ></input-field>
                <p
                  class="text-xs text-red-600 -mt-3 -mb-1"
                  *ngIf="confirmNewPassword && accountEditRequestDto.newPassword != confirmNewPassword"
                >
                  Your passwords don't match.
                </p>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="flex justify-end mt-4 space-x-2">
        <simple-button [variant]="ButtonVariant.borderOnly" [routerLink]="['/account']">Cancel</simple-button>
        <simple-button [variant]="ButtonVariant.primary" [type]="'submit'">Save</simple-button>
      </div>
    </div>
  </form>
</page-layout>

<simple-modal
  [title]="'Confirm password to continue'"
  [show]="isConfirmActionOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Save Change'"
  (setShow)="isConfirmActionOpen = $event"
  (onSubmit)="handleConfirmModalSubmit()"
>
  <div>
    <p>To make sure that it is you changing account data, please re-enter your current password.</p>
    <br />
    <form #form="ngForm" (ngSubmit)="handleConfirmModalSubmit()" (keydown.enter)="handleConfirmModalSubmit()">
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Current Password</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <input-field
            name="confirmOldPassword"
            class="col-span-2"
            [className]="'w-full col-span-2'"
            [type]="InputType.password"
            [(value)]="accountEditRequestDto.oldPassword"
            [id]="'confirmOldPassword'"
          ></input-field>
        </dd>
      </div>
    </form>
  </div>
</simple-modal>
