<page-layout styleNames="bg-white">
  <div *ngIf="mealDto && mealDto.recipe; else mealNotFound">
    <!-- Top Half (Meal Name, Image, Info, Description) -->
    <div class="grid grid-cols-1 mb-4 md:grid-cols-[2fr_3fr] gap-0 md:gap-4 lg:gap-6">
      <!-- Left Column: Meal Name and Author -->
      <div class="space-y-4 flex flex-col justify-center pb-4">
        <div class="bg-white rounded-lg flex flex-col">
          <!-- Meal Name -->
          <h1 class="text-3xl">{{ mealDto.name || 'Unknown Meal' }}</h1>
          <!-- Author's Name -->
          <p class="text-sm pt-[30px] font-semibold">
            By <span>{{ mealDto.recipe.author || 'Unknown Author' }}</span>
          </p>
          <!-- Meal Status -->
          <div>
            <span
              class="text-sm px-3 py-1 mt-6 rounded-full font-medium inline-block"
              [ngClass]="{
                'bg-gray-200': mealDto.status === MealStatus.Done,
                'bg-green-100': mealDto.status === MealStatus.AllIngredientsPresent,
                'bg-yellow-100': mealDto.status === MealStatus.SomeIngredientsMissing,
                'bg-red-100': mealDto.status === MealStatus.AllIngredientsMissing,
                'border-2 border-solid': mealDto.status === MealStatus.Closed
              }"
            >
              {{ formatStatus(mealDto.status) }}
            </span>
          </div>
        </div>
      </div>

      <!-- Right Column: Meal Image -->
      <div class="space-y-4 pt-[30px] pb-[40px] md:pt-0 md:pb-0">
        <div class="overflow-hidden bg-white rounded-lg">
          <img
            [src]="mealDto.recipe.imageLink || 'default-recipe.png'"
            alt="Meal Image"
            class="w-full h-80 object-cover"
          />
        </div>
        <div *ngIf="mealDto.status !== MealStatus.Closed" class="flex flex-row justify-end space-x-2 mt-0">
          <div class="flex flex-row space-x-2">
            <simple-button
              *ngIf="tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)"
              [variant]="ButtonVariant.primary"
              (click)="openEditModal(false)"
              >Scale</simple-button
            >
            <simple-button
              *ngIf="tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)"
              [variant]="ButtonVariant.primary"
              (click)="openEditModal(true)"
              >Rename</simple-button
            >
          </div>
          <div class="flex flex-row space-x-2">
            <!-- Complete/incomplete Button -->
            <simple-button
              *ngIf="
                mealDto.status === MealStatus.Done && tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)
              "
              (click)="onMark(false)"
              [variant]="ButtonVariant.borderOnly"
            >
              <span class="icon-[dashicons--no] mr-2"></span>
              <span>Not Done</span>
            </simple-button>
            <simple-button
              *ngIf="
                mealDto.status !== MealStatus.Done && tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)
              "
              (click)="closeMealModal(true)"
              [variant]="ButtonVariant.primary"
            >
              <span class="icon-[dashicons--yes] mr-2"></span>
              <span>Done</span>
            </simple-button>
            <!-- Edit Button -->
            <simple-button
              *ngIf="tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)"
              [routerLink]="'/menus/' + menuId + '/meal/' + mealId + '/edit'"
              [variant]="ButtonVariant.borderOnly"
            >
              <span>Edit</span>
            </simple-button>
          </div>
        </div>
      </div>

      <!-- Bottom Right Column: Meal Description -->
    </div>

    <!-- Bottom Left Column: Servings and Cooking Appliances -->
    <div class="space-y-4 border-t pt-4 flex items-top items-left md:pt-6 md:pb-0">
      <div class="bg-white rounded-lg">
        <h2 class="text-xl font-semibold pb-4">Description</h2>
        <p class="pb-[30px]" [ngStyle]="{ 'white-space': 'pre-line' }">
          {{ mealDto.recipe.description || 'No description available' }}
        </p>
      </div>
    </div>
    <!-- Bottom Left Column: Servings and Cooking Appliances -->

    <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-6">
      <!-- Ingredients -->
      <div class="space-y-4 border-t-4 border-black">
        <div class="bg-white rounded-lg">
          <h2 class="text-xl font-semibold pb-4">Ingredients</h2>
          <ul>
            <li class="pb-4 text-sm">
              <a class="font-semibold">Yield:</a> {{ mealDto.numberOfPeople || 'Unknown' }} servings
            </li>
            <li *ngFor="let ingredient of mealDto?.recipe?.ingredients || []" class="py-1">
              <span class="text-sm" *ngIf="ingredient.amount !== undefined"
                >{{ calculateAmount(ingredient.amount, ingredient.unit) }} of {{ ingredient.name }}</span
              >
            </li>
          </ul>
          <span class="italic" *ngIf="mealDto.recipe.ingredients.length === 0">
            No ingredients. All used ingredients have been rejected by the admin.
          </span>
        </div>
      </div>

      <!-- Cooking Appliances -->
      <div class="space-y-4 border-t-4 border-black">
        <div class="bg-white rounded-lg">
          <h2 class="text-xl font-semibold pb-2">Cooking Appliances</h2>
          <ul>
            <li *ngFor="let appliance of mealDto?.recipe?.cookingAppliances || []" class="py-1">
              <span *ngIf="appliance.amount !== undefined" class="text-sm"
                >{{ appliance.amount }} x {{ appliance.name }}</span
              >
            </li>
          </ul>
          <span class="italic" *ngIf="mealDto.recipe.cookingAppliances.length === 0">
            No cooking appliances needed.
          </span>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <!-- Delete Button -->
      <simple-button
        *ngIf="tokenService.isAdminOrOwnerOrPlanner(this.mealDto.organizationId!)"
        (click)="openDeleteModal()"
        [variant]="ButtonVariant.danger2"
      >
        <span>Remove from Menu</span>
      </simple-button>
    </div>
  </div>

  <!-- Fallback message if meal is not found -->
  <ng-template #mealNotFound>
    <div class="text-center py-16" *ngIf="!loadingMeal">
      <h2 class="text-2xl font-semibold">Oops, this meal doesn't exist.</h2>
    </div>
  </ng-template>

  <loading-spinner [isLoading]="loadingMeal"></loading-spinner>

  <simple-modal
    [title]="deleteModalTitle"
    [show]="isDeleteModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Confirm'"
    (setShow)="isDeleteModalOpen = $event"
    (onSubmit)="handleDeleteModalSubmit()"
  >
    <p>This meal will be deleted immediately. You can't undo this action.</p>
  </simple-modal>
  <complex-modal
    [title]="'Mark Meal as Done'"
    [show]="isCloseMealModalOpen"
    [firstBtnTitle]="'Cancel'"
    [secondBtnTitle]="'Keep stash ingredients'"
    [thirdBtnTitle]="'Remove stash ingredients'"
    (setShow)="isCloseMealModalOpen = $event"
    (onSubmit)="onMark(true)"
    (onThirdAction)="onMark(false)"
  >
    <p>
      Meals marked as done will be excluded from future shopping lists. You can either remove the ingredients used in
      the meal from the menu stash (if present) or don't remove them.
    </p>
  </complex-modal>

  <simple-modal
    [title]="'Adjust Your Meal'"
    [show]="isEditModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Confirm'"
    (setShow)="isEditModalOpen = $event"
    (onCancel)="handleEditModalCancel()"
    (onSubmit)="handleEditModalSubmit()"
  >
    <form #form="ngForm">
      <div class="flex flex-col space-y-8">
        <input-field
          *ngIf="isEditModalEditName"
          [label]="'Meal Display Name'"
          [type]="InputType.text"
          [ariaLabel]="'Meal Name'"
          [placeholder]="'e.g. Lunch: Spaghetti Bolognese'"
          [(value)]="mealEditDto.name"
          [id]="'mealEditName'"
          [name]="'mealEditName'"
          [form]="form"
          [className]="'w-full'"
        ></input-field>
        <input-field
          *ngIf="!isEditModalEditName"
          [label]="'Number of People'"
          [type]="InputType.number"
          [(value)]="mealEditDto.numberOfPeople"
          [placeholder]="'Enter quantity'"
          [id]="'mealEditNumberOfPeople'"
          [name]="'mealEditNumberOfPeople'"
          [form]="form"
          [className]="'w-full'"
        ></input-field>
      </div>
    </form>
  </simple-modal>
</page-layout>
