<simple-button *ngIf="tokenService.isAuthenticated()" (click)="openModal()" [variant]="ButtonVariant.primary">
  <span>Add to Menu</span>
</simple-button>

<simple-modal
  [title]="modalTitle"
  [show]="isModalOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Confirm'"
  [isSubmitEnabled]="isFormValid()"
  (setShow)="isModalOpen = $event"
  (onSubmit)="handleSubmit()"
  (onCancel)="handleCancel()"
>
  <form class="space-y-6">
    <div class="flex flex-col">
      <search-input
        [id]="'organization'"
        [label]="'Select Organization'"
        [placeholder]="'Search for organization'"
        [handleSearch]="searchOrganization.bind(this)"
        [options]="organizationOptionsNames"
        [searchTerm]="selectedOrganizationName || ''"
        (selectedOption)="onOrganizationSelected($event)"
        #searchInput
      ></search-input>
    </div>

    <div *ngIf="selectedOrganizationName && menuNames[0] !== 'No menus found'" class="flex flex-col">
      <input-field
        [label]="'Select Menu'"
        [type]="InputType.select"
        [options]="menuNames"
        [ariaLabel]="'Menu selected'"
        [id]="'menuOptions'"
        [name]="'menuOptions'"
        [(value)]="selectedMenuName"
        (valueChange)="onMenuSelected($event)"
      ></input-field>
    </div>

    <div
      *ngIf="selectedOrganizationName && menuNames[0] === 'No menus found'"
      class="text-gray-500 text-sm italic mt-2"
    >
      No menus found for this organization.
      <a
        (click)="navigateToMenus()"
        class="text-primary underline hover:underline hover:text-primary-light cursor-pointer"
      >
        Click here to create one.
      </a>
    </div>
    <div class="h-5">
      <div *ngIf="!selectedOrganizationName" class="text-gray-500 text-sm italic">
        Please select an organization to proceed.
      </div>
      <div *ngIf="selectedOrganizationName && !selectedMenuName" class="text-gray-500 text-sm italic">
        Please select a menu to proceed.
      </div>
    </div>
  </form>
</simple-modal>
