<page-layout>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown.enter)="onSubmit(form)">
    <h1 class="mb-8 text-3xl">Edit Account</h1>
    <div>
      <div class="bg-white overflow-hidden shadow rounded-lg border">
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
          <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 items-center">
              <dt class="text-sm font-medium text-gray-500">First name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input-field
                  name="first-name"
                  [type]="InputType.text"
                  [(value)]="accountEditRequestDto.firstName"
                  placeholder="John"
                  [id]="'first-name'"
                  [required]="true"
                ></input-field>
                <div>
                  <div *ngIf="submitted && !accountEditRequestDto.firstName" class="text-xs text-red-600 -mt-3 -mb-1">
                    <p>Your first name can't be empty!</p>
                  </div>
                </div>
              </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 items-center">
              <dt class="text-sm font-medium text-gray-500">Last name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input-field
                  name="last-name"
                  [type]="InputType.text"
                  [(value)]="accountEditRequestDto.lastName"
                  placeholder="Doe"
                  [id]="'last-name'"
                  [required]="true"
                ></input-field>
                <div>
                  <div *ngIf="submitted && !accountEditRequestDto.lastName" class="text-xs text-red-600 -mt-3 -mb-1">
                    <p>Your last name can't be empty!</p>
                  </div>
                </div>
              </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 items-center">
              <dt class="text-sm font-medium text-gray-500">Email</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <input-field
                  name="email"
                  [type]="InputType.email"
                  [(value)]="accountEditRequestDto.email"
                  placeholder="email@example.com"
                  [id]="'email'"
                  [required]="true"
                ></input-field>
                <div>
                  <div *ngIf="submitted && !accountEditRequestDto.email" class="text-xs text-red-600 -mt-3 -mb-1">
                    <p>Your email can't be empty!</p>
                  </div>
                </div>
              </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">Password</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <a
                  class="text-primary underline hover:text-primary-800 font-medium text-sm cursor-pointer"
                  [routerLink]="'/account/change-password'"
                  aria-label="Change Password"
                >
                  Change Password
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="flex justify-end mt-4 space-x-2">
        <simple-button [variant]="ButtonVariant.borderOnly" [routerLink]="['/account']">Cancel</simple-button>
        <simple-button [variant]="ButtonVariant.primary" [type]="'submit'">Save</simple-button>
      </div>
    </div>
  </form>
</page-layout>

<simple-modal
  [title]="'Confirm password to continue'"
  [show]="isConfirmActionOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Save Change'"
  (setShow)="isConfirmActionOpen = $event"
  (onSubmit)="handleConfirmModalSubmit()"
>
  <div>
    <p>To make sure that it is you changing account data, please re-enter your current password.</p>
    <br />
    <form #form="ngForm" (ngSubmit)="handleConfirmModalSubmit()" (keydown.enter)="handleConfirmModalSubmit()">
      <input-field
        [label]="'Your Password'"
        name="confirmOldPassword"
        [type]="InputType.password"
        [(value)]="accountEditRequestDto.oldPassword"
        [id]="'confirmOldPassword'"
        [required]="true"
      ></input-field>
    </form>
  </div>
</simple-modal>
