<h2 class="text-2xl mb-2">Members</h2>

<!-- Add member button -->
<div class="flex justify-end mb-2">
  <simple-button
    *ngIf="tokenService.isAdminOrOwner(organizationId)"
    (click)="openInviteMemberModal()"
    [variant]="ButtonVariant.primary"
  >
    <span>Invite member</span>
  </simple-button>
</div>

<div
  class="bg-white w-full overflow-x-auto shadow rounded-lg border"
  *ngIf="!isLoadingMembers && this.memberList && this.memberList.numberOfElements > 0"
>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <table class="min-w-full table-auto" *ngIf="!tokenService.isAdminOrOwner(organizationId)">
      <thead>
        <tr class="bg-gray-50">
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Role</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let member of members">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">{{ member.username }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">{{ member.email }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            {{ member.role.charAt(0).toUpperCase() + member.role.slice(1) }}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="min-w-full table-auto" *ngIf="tokenService.isAdminOrOwner(organizationId)">
      <thead>
        <tr class="bg-gray-50">
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Role</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let member of members">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">{{ member.username }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">{{ member.email }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <form #form="ngForm" class="w-40">
              <input-field
                *ngIf="
                  !(
                    member.username === getUsername() ||
                    member.role === OrganizationRoleEnum.Invited ||
                    member.role === OrganizationRoleEnum.Owner
                  )
                "
                [type]="InputType.select"
                [options]="roleTypes"
                [ariaLabel]="'Role'"
                [id]="'role'"
                [name]="'role'"
                [(value)]="member.role"
                [className]="'text-sm'"
                #role
                (change)="openChangeRoleModal(member, role.value)"
              >
              </input-field>
              <span
                *ngIf="
                  member.username === getUsername() ||
                  member.role === OrganizationRoleEnum.Invited ||
                  member.role === OrganizationRoleEnum.Owner
                "
              >
                {{ member.role.charAt(0).toUpperCase() + member.role.slice(1) }}
              </span>
            </form>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-center text-gray-900">
            <simple-button
              *ngIf="!(member.username === getUsername() || member.role === OrganizationRoleEnum.Owner)"
              [ariaLabel]="'Remove User from Organization'"
              (click)="openRemoveMemberModal(member.username)"
              [variant]="ButtonVariant.borderOnly"
            >
              <span class="icon-[material-symbols--delete]"></span>
            </simple-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="this.memberList?.numberOfElements === 0 && !isLoadingMembers"
  class="text-center text-xl text-gray-600 col-span-full my-8"
>
  <p>No members found.</p>
</div>
<loading-spinner [isLoading]="isLoadingMembers"></loading-spinner>

<pagination-controls
  [data]="memberList"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></pagination-controls>

<simple-modal
  [title]="changeRoleModalTitle"
  [show]="isChangeRoleModalOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Confirm'"
  (setShow)="isChangeRoleModalOpen = $event"
  (onCancel)="handleChangeRoleModalCancel()"
  (onSubmit)="handleChangeRoleModalSubmit()"
>
</simple-modal>

<simple-modal
  [title]="removeMemberModalTitle"
  [show]="isRemoveMemberModalOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Confirm'"
  (setShow)="isRemoveMemberModalOpen = $event"
  (onCancel)="handleRemoveMemberModalCancel()"
  (onSubmit)="handleRemoveMemberModalSubmit()"
>
  <p>This member will be removed from your organization immediately. You can't undo this action.</p>
</simple-modal>

<simple-modal
  [title]="'Invite Users to Organization'"
  [show]="isInviteMemberModalOpen"
  [cancelBtnTitle]="'Cancel'"
  [submitBtnTitle]="'Confirm'"
  (setShow)="isInviteMemberModalOpen = $event"
  (onCancel)="handleInviteMemberModalCancel()"
  (onSubmit)="handleInviteMemberModalSubmit()"
>
  <div class="flex flex-col space-y-8">
    <search-input
      [label]="'Search Users'"
      [placeholder]="'Enter Username, Firstname or Lastname'"
      [handleSearch]="searchUsers.bind(this)"
      [id]="'orgInviteMember'"
      [options]="memberOptions"
      [searchTerm]="inviteMemberInput"
      [filterLocally]="false"
      (selectedOption)="onSearchUsersSelected($event)"
    ></search-input>
  </div>
</simple-modal>
