<page-layout>
  <div
    class="flex flex-row items-center justify-between mb-8"
    *ngIf="!isLoading && accountInfo.username !== ''; else accountNotFound"
  >
    <h1 class="text-3xl">Your Account</h1>
    <simple-button [routerLink]="['/account/edit']" [variant]="ButtonVariant.primary">
      <span>Edit</span>
    </simple-button>
  </div>
  <div class="flex flex-col gap-8">
    <div class="bg-white overflow-hidden shadow rounded-lg border">
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">First name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ accountInfo.firstName }}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Last name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ accountInfo.lastName }}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">User name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ accountInfo.username }}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ accountInfo.email }}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Password</dt>
            <a
              class="text-primary underline hover:text-primary-light font-medium text-sm cursor-pointer"
              [routerLink]="'/account/change-password'"
              aria-label="Change Password"
            >
              Change Password
            </a>
          </div>
        </dl>
      </div>
    </div>
    <div class="flex justify-end">
      <account-delete-button></account-delete-button>
    </div>
  </div>

  <ng-template #accountNotFound>
    <div class="text-center py-16" *ngIf="!isLoading">
      <h2 class="text-2xl font-semibold">Oops, this account doesn't exist.</h2>
    </div>
  </ng-template>

  <loading-spinner [isLoading]="isLoading"></loading-spinner>
</page-layout>
