<page-layout>
  <h1 class="mb-8 text-3xl">Ingredient Requests</h1>
  <div class="bg-white w-full overflow-x-auto shadow rounded-lg border" *ngIf="!isLoadingIngredientRequests">
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <table class="min-w-full table-auto">
        <thead>
          <tr class="bg-gray-50">
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ingredient</th>
            <th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngIf="requestedIngredients?.totalElements === 0">
            <td class="p-4 text-center text-gray-500" colspan="3">No ingredient requests.</td>
          </tr>
          <tr *ngFor="let entry of requestedIngredients?.content">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
              {{ entry.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right flex justify-end space-x-2">
              <simple-button [variant]="ButtonVariant.primary" (click)="openAcceptIngredientModal(entry)">
                <span class="icon-[dashicons--yes]"></span>
              </simple-button>
              <simple-button [variant]="ButtonVariant.borderOnly" (click)="openReplaceIngredientModal(entry)">
                <span class="icon-[material-symbols--find-replace]"></span>
              </simple-button>
              <simple-button [variant]="ButtonVariant.danger2" (click)="openRejectIngredientModal(entry)">
                <span class="icon-[dashicons--no]"></span>
              </simple-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pagination-controls
    [data]="requestedIngredients"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
    *ngIf="!isLoadingIngredientRequests"
  ></pagination-controls>

  <loading-spinner [isLoading]="isLoadingIngredientRequests"></loading-spinner>

  <h1 class="mt-6 mb-8 text-3xl">Add New Own Ingredients</h1>
  <search-input
    [id]="'ingredient-own'"
    [placeholder]="'Ingredient Name'"
    [handleSearch]="searchIngredientOwn.bind(this)"
    [options]="ingredientsOptionsNamesOwn"
    [supportsAddCustom]="true"
    (selectedOption)="onIngredientSelectedOwn($event)"
    (selectedAddCustom)="onRequestIngredientSelected($event)"
    #ownIngredientSearchInput
  ></search-input>

  <simple-modal
    [title]="requestedIngredientModalTitle"
    [show]="isRequestIngredientModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="newIngredientBtnText"
    (setShow)="isRequestIngredientModalOpen = $event"
    (onSubmit)="handleRequestedIngredientModalSubmit()"
    (onCancel)="handleRequestedIngredientModalCancel()"
  >
    <app-request-ingredient-modal
      [ingredientName]="requestedIngredientName"
      #requestIngredientModalComponent
    ></app-request-ingredient-modal>
  </simple-modal>

  <simple-modal
    [title]="'Are you sure you want to accept this ingredient?'"
    [show]="isAcceptIngredientModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Accept'"
    (setShow)="isAcceptIngredientModalOpen = $event"
    (onSubmit)="handleAcceptIngredientModalSubmit()"
  >
    <ng-template *ngTemplateOutlet="selectedIngredientDetails"></ng-template>
  </simple-modal>

  <simple-modal
    [title]="'Are you sure you want to replace this ingredient?'"
    [show]="isReplaceIngredientModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Replace'"
    [isSubmitEnabled]="isFormValid()"
    (setShow)="isReplaceIngredientModalOpen = $event"
    (onSubmit)="handleReplaceIngredientModalSubmit()"
    (onCancel)="handleReplaceIngredientModalCancel()"
  >
    <ng-template *ngTemplateOutlet="selectedIngredientDetails"></ng-template>
    <div class="mt-4">
      <search-input
        [id]="'ingredient-replace'"
        [label]="'Search for replacement ingredient'"
        [placeholder]="'e.g. Apple'"
        [handleSearch]="searchIngredient.bind(this)"
        [options]="ingredientsOptionsNames"
        (selectedOption)="onIngredientSelected($event)"
        #replacementSearchInput
      ></search-input>
    </div>
  </simple-modal>

  <simple-modal
    [title]="'Are you sure you want to reject this ingredient?'"
    [show]="isRejectIngredientModalOpen"
    [cancelBtnTitle]="'Cancel'"
    [submitBtnTitle]="'Reject'"
    (setShow)="isRejectIngredientModalOpen = $event"
    (onSubmit)="handleRejectIngredientModalSubmit()"
  >
    <ng-template *ngTemplateOutlet="selectedIngredientDetails"></ng-template>
  </simple-modal>

  <ng-template #selectedIngredientDetails>
    <div class="p-4 bg-gray-50 rounded-lg shadow border">
      <h3 class="text-lg font-semibold text-gray-800">Ingredient "{{ selectedIngredient.name }}"</h3>
      <p class="text-sm text-gray-600 mt-2">
        <span class="font-medium text-gray-700">Default Unit:</span> {{ formatString(selectedIngredient.defaultUnit) }}
      </p>
      <p class="text-sm text-gray-600 mt-1">
        <span class="font-medium text-gray-700">Category:</span> {{ formatString(selectedIngredient.category) }}
      </p>
      <p class="text-sm text-gray-600 mt-1">
        <span class="font-medium text-gray-700">Requested By:</span> {{ selectedIngredient.username }}
      </p>
    </div>
  </ng-template>
</page-layout>
